<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Заявка на заказ</title>
</head>
<body>
Заказ №{{order.order_number}}<br>
<br>
Список товаров: {{order.ordered_products}}<br>
Стоимость товаров: {{order.order_price |floatformat:2}} ₽<br>
<br>
Заказчик
{% if order.customer is not None%}
 зарегистрирован на сайте под ником {{order.customer.username}}
{% else %}
 не зарегистрирован на сайте
{% endif %}<br>
Фамилия заказчика: {{order.customer_last_name}}<br>
Имя заказчика: {{order.customer_first_name}}<br>
Отчество заказчика: {% if order.customer_patronymic is not None%}{{order.customer_patronymic}}{% endif %}<br>
Почта заказчика: {{order.order_email}}<br>
Тлефон заказчика:{{order.order_phone}}<br>
VK заказчика:{% if order.order_phone is not None%}{{order.order_vk}}{% endif %}<br>
Telegram заказчика:{% if order.order_telegram is not None%}{{order.order_telegram}}{% endif %}<br>
<br>
Выбранный способ доставки: {{order.order_delivery_method}}<br>
Адрес: {{order.order_region}} обл., {{order.order_city}}
{% if order.order_street is not None and order.order_street|length > 0%}, ул. {{order.order_street}}{% endif %}
{% if order.order_house is not None and order.order_house|length > 0%}, д. {{order.order_house}}{% endif %}
{% if order.order_flat is not None and order.order_flat|length > 0%}, кв. {{order.order_flat}}{% endif %}
{% if order.order_entrance is not None and order.order_entrance|length > 0%}, подъезд {{order.order_entrance}}{% endif %}
{% if order.order_floor is not None and order.order_floor|length > 0%}, этаж {{order.order_floor}}{% endif %}
{% if order.order_intercom is not None and order.order_intercom|length > 0%}, домофон {{order.order_intercom}}{% endif %}
<br>
Комментарий к заказу:{% if order.order_comment is not None%}{{order.order_comment}}{% endif %}
</body>
</html>