<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Заказ оформлен</title>
</head>
<body>

Ваш заказ №{{order.order_number}} успешно оформлен.<br>
В скором времени с Вами свяжется наш менеджер для уточнения деталей по оплате и доставке товара.<br>
<br>

Список товаров: {{order.ordered_products}}<br>
Стоимость товаров: {{order.order_price |floatformat:2}} ₽<br>
<br>
Способ получения: {{order.order_delivery_method}}<br>
Адрес: {{order.order_region}} обл., {{order.order_city}}
{% if order.order_street is not None and order.order_street|length > 0%}, ул. {{order.order_street}}{% endif %}
{% if order.order_house is not None and order.order_house|length > 0%}, д. {{order.order_house}}{% endif %}
{% if order.order_flat is not None and order.order_flat|length > 0%}, кв. {{order.order_flat}}{% endif %}
{% if order.order_entrance is not None and order.order_entrance|length > 0%}, подъезд {{order.order_entrance}}{% endif %}
{% if order.order_floor is not None and order.order_floor|length > 0%}, этаж {{order.order_floor}}{% endif %}
{% if order.order_intercom is not None and order.order_intercom|length > 0%}, домофон {{order.order_intercom}}{% endif %}
<br>
<br>
Команда SOKOL

</body>
</html>